@font-face {
    font-family: 'Helvetica-Bold';
    src: url('Helvetica-Bold-Font.ttf') format('truetype')
}

body{
	background-color: #ededed;
	margin: 0px;
}


/* HEADER */

.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 28px;

}

.header-logo{
	margin-right: 15px;
	margin-left: 11px;
}

.header-title{
	height: 95px;
	width: 480px;
	background-color: white;
	font-family: 'Helvetica-Bold';
	color: #f59100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 58px;
}

.header-title div{
	margin-left: 42px;
}

/* SECTION */

.section{
	display: flex;
	flex-direction: row;
	margin-top: 60px;
}

form{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.form-position{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 11px;
	}

.form{
	width: 300px;
	height: 540px;
	box-sizing: border-box;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	color: #bfbfbf;
	font-size: 15px;
	padding: 33px 21px;
	margin-right: 10px;
}

.submit{
	width: 267px;
	height: 540px;
	background-color: white;
	box-sizing: border-box;
	color: #f59100;
	padding: 46px 21px;
}

.ask{
	font-size: 19px;
	font-weight: normal;
	font-family: 'Arial', sans-serif;
}

.btn-radio{
	margin-left: 4px;
	margin-top: 14px;
}

.btn-submit{
	width: 220px;
	height: 52px;
	border-radius: 6px;
	margin-top: 246px;
	background-color: #efefef;
	margin-left: 2px;
	display: flex;
	flex-direction: row;
}

.arrow{
	width: 45px;
	height: 100%;
	border-radius: 6px 0px 0px 6px;
	background-color: #f59100;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.arrow-position{
	position: relative;
	left: 2px;
}
.btn-radio-pos{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 9px;
}

.radio_png{
	position: relative;
	top: 3px;
	left: 12px;
}

input[type="text"]{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border: none;
	border-bottom: 1px solid #bfbfbf;
	margin-bottom: 28px;
	font-size: 14px;
	outline: none;
	line-height: 40px;
}

.position-name{
	margin-top: 20px;
}

.civility{
	margin-right: 22px;
}

.info{
	margin-left: 10px;
}

.error{
	margin-top: 10px;
	color: red;
}

input[type="text"]::placeholder{
    color : #bfbfbf;
}

input[type="submit"]{
	color: #f59100;
	font-family: 'Arial', sans-serif;
	font-weight: 500;
	font-size: 14px;
	border: 0px;
	background-color: #efefef;
	margin-left: 12px;
	cursor: pointer;
	outline: none;
}

/* RESPONSIVE */

@media screen and (max-width: 600px){
	.header-title{
		width: 50%;
	}

	form{
		flex-direction: column;
		align-items: center;
	}

	.form{
		margin-bottom: 20px;
	}

	.btn-submit{
		margin-top: 50px;
	}

	.submit{
		height: 300px;
	}